/* Ниже приведены шаблины */
.titles_black {
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #181818;
}

.titles_pomenshe {
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    color: #181818;
}

.texts_about-values {
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texts_normal_blednie {    
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.texts_normal {
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.obertka_photos {    
    background: #F1F1F1;
    border-radius: 10000px;
}

.photos {
    text-align: center;
}

.buttons_black {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    background: #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttons_white {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 12px;

    border: 2px solid #181818;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frames_black {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;

    background: #181818;
    border-radius: 10000px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frames_white {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;

    border: 1px solid #000000;
    border-radius: 10000px;

    flex: none;
    order: 3;
    flex-grow: 0;
}


.inputs_obertka {
    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.inputs_default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    background: #FFFFFF;
}

.question__frame {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;

    width: 1160px;
    height: 88px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.flexes_4-8 {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
}

.flexes_0 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}

/* конец шаблонов */


.header__frame__text {
    width: 97px;
    height: 24px;

    text-transform: uppercase;

    color: #000000;

}

.header__frame {
    position: absolute;

    width: 109px;
    height: 32px;
    left: 140px;
    top: 38px;

    border: 2px solid #000000;
    border-radius: 8px;
}

.navigate__list {
    border: 0 none;

    position: absolute;
    width: 446px;
    height: 24px;
    right: 550px;
    top: 40px;

    margin: 0 auto;
}

.navigate__list_item {
    
    text-decoration: none;

    display: inline;
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


    color: #000000;



    flex: none;
    order: 4;
    flex-grow: 0;
    }

.header__photo {
    position: absolute;

    width: 110px;
    height: 110px;
    top: 26px;
    left: 30px;


    font-weight: 500;
    font-size: 110px;
    line-height: 110px;
    text-align: center;

    color: #000000;
}

.obertka_programmer {
    position: absolute;

    width: 170px;
    height: 170px;
    right: 50px;
    top: 50px;
}

.obertka_chat {
    position: absolute;

    width: 64px;
    height: 64px;
    left: 209px;
    top: 362px;

    text-align: center;
}

.frames_chat {
    position: absolute;

    width: 28px;
    height: 24px;
    left: 18px;
    top: 20px;

    text-align: center;
}

.introduction__title {
    position: absolute;

    width: 804px;
    height: 128px;
    left: 318px;
    top: 184px;

    text-align: center;
}

.introduction__what-we-do {
    position: absolute;
    text-decoration: none;

    width: 484px;
    height: 48px;
    left: 478px;
    top: 372px;

    text-align: center;

    color: #000000;
}

.introduction__frames {
    display: flex;
    flex-direction: row;
    gap: 16px;

    position: absolute;
    width: 452px;
    height: 56px;
    left: 494px;
    top: 480px;
    
    border: 0 none;
    
}

.frames_contact {
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 220px;
    height: 44px;
   

    background: #181818;
}

.frames_lightning {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
    
    text-align: center;
}

.obertka_lightning {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1171px;
    top: 450px;

    text-align: center;
}

.frames_triangle {
    box-sizing: border-box;

    position: absolute;
    width: 24px;
    height: 24px;
    left: 261px;
    top: 15px;

    transform-box: rotate(90deg);
}

.contact_text {
    text-align: center;
    text-decoration: none;

    width: 167px;
    height: 24px;

    color: #FFFFFF;
}

.video_text {
    background-color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    
    width: 137px;
    height: 24px;
    color: #181818;    
}

.frames_video {
    width: 220px;
    height: 44px;
    background-color: white;
}

/* слетело позиционирование и цвет all-a */
.design_text {
    width: 59px;
    height: 24px;

    color: #181818;
}

.button_design {
    width: 110px;
    height: 32px;

    background-color: white;

}

.button_development {
    width:110px;
    height: 32px;

    background-color: white;
}

.button_web-sites {
    width: 110px;
    height: 27px;

    background-color: white;
}

.button_order {
    width: 136px;
    height: 27px;

    background-color: white;
}

.all_text {
    color: #FFFFFF;
    text-align: center;
}

.button_all {
    width: 56px;
    height: 27px;

    color: #FFFFFF;
}

.works__navigation {
    gap: 17px;

    position: absolute;
    width: 473px;
    height: 32px;
    left: 483px;
    top: 656px;
}

.photos__frames {
    gap: 40px;
}

.works__photos {
    position: absolute;
    width: 1160px;
    height: 1984px;
    left: 140px;
    top: 728px;
}

.photos_big {
    box-sizing: border-box;

    border: 1px solid #DBDBDB;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.photos_example-1 {
    height: 460px;
    width: 1160px;

    background-image: url('/src/img/Rectangle_13.png');

    order: 0;
}

.photos_small {
    width: 1160px;
    height: 400px;
}

.photos_mini {
    flex: none;
    order: 1;
    flex-grow: 0;

    gap: 40px;

    box-sizing: border-box;

    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background-repeat: no-repeat;

}

.mini_photo-1 {
    width: 560px;
    height: 400px;

    background-image: url('/src/img/Rectangle 14.png');

}

.mini_photo-2 {
    width: 561px;
    height: 401px;

    background: url('/src/img/Rectangle 15.png'), #151515;
}

.photos_example-2 {
    width: 1160px;
    height: 544px;

    background-image: url('/src/img/Rectangle 16.png');

    order: 2;
}

.mini_photo-3 {
    width: 560px;
    height: 460px;

    background: url('/src/img/Rectangle 17.png'), #252127;

    border: 1px solid #DBDBDB;
}

.photos_mini-2 {
    gap: 40px;
    border-radius: 20px;
    box-sizing: border-box;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0
}

.photos_small-2 {
    order: 3;
    width: 1160px;
    height: 460px;
}

.mini_photo-4 {
    width: 560px;
    height: 460px;

    background: url('/src/img/Rectangle 18.png'), #f9f9f9;

    border: 1px solid #DBDBDB;
}

.my-photo {
    position: absolute;
    width: 440px;
    height: 560px;
    left: 260px;
    top: 2832px;

    background: url('/src/img/my_photo.jpg');
    border-radius: 24px;
}

.about__header {
    position: absolute;

    width: 478px;
    height: 64px;
    left: 740px;
    top: 2812px;
}

.about__text {
    position: absolute;

    width: 484px;
    height: 168px;
    left: 740px;
    top: 3000px;

    color: #000000;
    }

.frame_sites {
    border: 0 none;

    position: absolute;
    width: 79px;
    height: 88px;
    left: 740px;
    top: 3232px;
}

.sites_value {
    width: 41px;
    height: 24px;
}

.sites_value_text {
    width: 79px;
    height: 48px;
}

.frame_sroki {
    border: 0 none;

    position: absolute;
    width: 87px;
    height: 88px;
    left: 883px;
    top: 3232px;
    }

.sroki_procent {
    width: 63px;
    height: 24px;
}

.sroki_text {
    width: 87px;
    height: 48px;
}

.frame_experience {
    position: absolute;
    
    border: 0 none;

    width: 46px;
    height: 88px;
    left: 1034px;
    top: 3232px;
}

.experience_years {
    width: 38px;
    height: 24px;
}

.experience_text {
    width: 46px;
    height: 48px;
}

.obertka_achievment {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 227px;
    top: 3280px;
}

.frames_achievment {
    position: absolute;

    width: 40px;
    height: 41px;
    left: 30px;
    top: 34px;

    text-align: center;
    }

.services {
    position: absolute;
    
    width: 1470px;
    height: 768px;
    left: 0px;
    top: 3512px;

    background: #181818;
}

.services__titles {
    color: white;

    position: absolute;
    width: 156px;
    height: 64px;
    left: 642px;
}

.services__list {
    position: absolute;

    gap: 28px;
    
    width: 160px;
    height: 164px;
    left: 140px;
    top: 160px;

}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;

    
    background: #FFFFFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}


.list-01 {
    width: 310px;
    height: 360px;
}

.list-02 {
    width: 310px;
    height: 360px;
}

.list-03 {
    width: 310px;
    height: 360px;
}

.razmetka {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.list-01_razmetka {
    width: 288px;
    height: 304px;
}

.list-02_razmetka {
    width: 288px;
    height: 304px;
}

.list-03_razmetka {
    width: 288px;
    height: 304px;
}

.list_main-title {
    border: 0 none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.list-01_title {
    width: 288px;
    height: 56px;
}

.list-02_title {
    width: 288px;
    height: 56px;
}

.list-03_title {
    width: 288px;
    height: 56px;
}

.list_numbers {
    position: absolute;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;

    opacity: 0.5;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    border: 0 none;
}

.list-01_number {
    border: 0 none;
    width: 288px;
    height: 24px;
    top: 20px;
    
}

.list-02_number {
    border: 0 none;
    width: 288px;
    height: 24px;
    top: 20px;
}

.list-03_number {
    border: 0 none;
    width: 288px;
    height: 24px;
    top: 20px;
}

.list_titles {
    position: absolute;

    
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.list-01_service {
    width: 288px;
    height: 24px;
}

.list-02_service {
    width: 288px;
    height: 24px;
}

.list-03_service {
    width: 288px;
    height: 24px;
}


.list-01_text {
    width: 288px;
    height: 96px;
}

.list-02_text {
    width: 288px;
    height: 96px;
}

.list-03_text {
    width:288px;
    height: 96px;
}


.services__cost {
    width: 288px;
    height: 24px;
}

.services__cost-02 {
    width: 288px;
    height: 24px;
}

.services__cost-03 {
    width: 288px;
    height: 24px;
}

/* линии исчезли. Разобраться. Не смог(( */
.services__lines {
    width: 80px;
    height: 0px;
    top: 224px;

    opacity: 0.2;
    border: 1px solid #181818;
    background-color: #181818;
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}


.order__flex {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;

    background: #FFFFFF;
    border-radius: 16px;

}

.order {
    position: absolute;
    width: 448px;
    height: 368px;
    left: 496px;
    top: 4444px;

    background: #FFFFFF;
    border: 0 none;
    border-radius: 16px;
}

.order__title {
    width: 446px;
    height: 64px;
    left: 497px;
    top: 4500px;

}

.order__choose {

    width: 548px;
    height: 368px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    background: #FFFFFF;

    border: 0 none;

    flex: none;
    flex-grow: 0;
}

.choose__obertka {
    width: 400px;
    height: 25px;

    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.choose_type-of-job {
    position: absolute;
    width: 400px;
}

.choose_how-hard {
    position: absolute;
    width: 400px;

    opacity: 0.5;
}

.choose__checker { 
    gap: 16px;
    
    border: 0 none;
    width: 363px;
    height: 48px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.choose_checkbox {
    position: absolute;

    width: 16px;
    height: 16px;
    left: 30px;
    top: 354px;
}

.order__calculate {
    box-sizing: border-box;

    margin-top: 16px;
    margin-left: 16px;
    gap: 8px;

    width: 400px;
    height: 56px;

    border: 2px solid #181818;
    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.calculation {
    width: 190px;
    height: 24px;

    border: 0 none;
    /* identical to box height, or 150% */

    background-color: white;
    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.calculate__final {
    position: absolute;
    width: 400px;
    height: 384px;
    left: 48px;
    top: 490px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
}

.final_text {
    position: relative;
    width: 318px;
    height: 64px;
    top: -30px;
    border: 0 none;

    font-size: 32px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.final_cost {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    border: 0 none;
    width: 300px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.cost_text {
    width: 48px;
    height: 24px;

    color: #181818;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cost_value {
    position: relative;
    top: -30px;
    width: 300px;
    height: 24px;

    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.final_deadlines {
    position: relative;
    top:-30px;
    border: 0 none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 120px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.deadlines_text {
    width: 141px;
    height: 24px;

    color: #181818;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.deadlines_deadline {
    position: relative;
    width: 161px;
    height: 24px;
    top: -30px;
    
    font-size: 20px;

    color: #181818;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.final_contact {
    border: 0 none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px 0px;
    gap: 8px;

    width: 200px;
    height: 72px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.contact_obertka {
    position: relative;
    top: -30px;

    margin-top: 40px;
    gap: 8px;

    width: 400px;
    height: 30px;
    border-color: #181818;
    background: #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_button {
    width: 200px;
    height: 24px;

    border: 0 none;

    background-color: #181818;
    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.questions {
    position: absolute;
    width: 1440px;
    height: 1232px;
    left: 0px;
    top: 5408px;

    background: #181818;
}

.questions__title {
    position: absolute;
    width: 316px;
    height: 64px;
    left: 562px;
    top: 60px;

    color: #FFFFFF;
}

.questions__box {
    gap: 16px;

    position: absolute;
    width: 1160px;
    height: 848px;
    left: 140px;
    top: 264px;

    border: 0 none;

}

.question__flex-32-40 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;
}

.question_based {
    width: 1160px;
    height: 88px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.question_based__text {
    position: relative;
    width: 1160px;
    height: 24px;
    top: -20px;

    font-size: 20px;

    color: #181818;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.question_opend {
    width: 1160px;
    height: 400px;

    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.question_answers_text {
    position: relative;
    top: -250px;
    left: -225px;
    height: 216px;
}

.question_answers_answer {
    position: relative;
    top: 20px;
    width: 800px;
    left: -150px;
    height: 30px;
}

.buy__title {
    position: absolute;
    width: 371px;
    height: 64px;
    left: 534px;
    top: 6760px;
}

.buy__kypi-ept {
    position: absolute;
    width: 391px;
    height: 24px;
    left: 524px;
    top: 6832px;

    font-size: 20px;
 
    color: #181818;
}

.frame_buy {
    position: absolute;
    width: 448px;
    height: 552px;
    left: 496px;
    top: 6936px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.buy__flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.frame_buy_inputs_obertka {
    border: 0 none; 

    gap: 40px;
    width: 400px;
    height: 376px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame_buy_inputs {
    border: 0 none;

    gap: 24px;

    width: 400px;
    height: 376px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.buy_defult_inputs {
    width: 400px;
    height: 48px;

    /* #fff white */

    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.buy_big_input {
    width: 400px;
    height: 160px;

    /* #fff white */

    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.frame_buy_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 8px;

    width: 400px;
    height: 88px;

    border: 0 none;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.flex_15-24-17 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
}

.contact_buton {
    gap: 8px;

    width: 400px;
    height: 56px;

    background: #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button_text {
    width: 178px;
    height: 24px;
    text-align: center;
    margin-left: 100px;
    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0
}

.obertka_proger {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 670px;
    top: 300px;
}

.photo_proger {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
}

.obertka_timer {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -361px;
    top: 132px;
}

.photo_time {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;
}

.obertka_lightning-2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 111px;
    top: 6774px;

}

.obertka_proger-2 {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1252px;
    top: 7156px;
}

.obertka_chat-2 {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 250px;
    top: 7392px;
}

.frames_chat-2 {
    position: absolute;
    width: 56px;
    height: 44px;
    left: 42px;
    top: 47px;
}

.obertka_galki {
    width: 12px;
    height: 12px;

    border: 0 none;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.galka {
    box-sizing: border-box;

    position: absolute;
    width: 12px;
    height: 8px;
    left: 400px;
    top: 250px;

    border: 1px solid #000000;
}